:root {
  --color-primary: #c30017;
  --color-hover: #930415;
  --color-black: #000;
  --color-light-grey: #e2e2e2;
  --color-white: #fff;
  --font-primary: "Open Sans", sans-serif;
  --font-secondary: Philosopher, sans-serif;
}

html {
  font-family: var(--font-primary);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-secondary);
  color: var(--color-primary);
}

ul, ol, dl {
  color: var(--color-white);
}

ul:hover {
  color: var(--color-hover);
}

a {
  font-family: var(--font-secondary);
  color: var(--color-white);
}
