.btn {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: var(--color-white);
}

.btn:hover {
  background-color: var(--color-hover);
  border-color: var(--color-hover);
}

.btn-ghost {
  background-color: var(--color-white);
  border-color: var(--color-primary);
  color: var(--color-black);
}

.btn-ghost:hover {
  background-color: var(--color-primary);
  border-color: var(--color-hover);
  color: var(--color-white);
}
