.current {
  color: var(--color-primary);
}

.paginator-list {
  padding: .25em;
  border-radius: 3px;
  background-color: var(--color-primary);
}

.paginator-list:hover {
  background-color: var(--color-hover);
}

.link-style {
  color: var(--color-black);
  text-decoration: none;
}

a {
  text-decoration: none;
}
